# waiting on PR to be merged to fix a bug
# gradescope-utils==0.5.0
git+https://github.com/TriHardStudios/gradescope-utils
dill==0.3.6
Better-PyUnit-Format==0.2.0
schema==0.7.5
requests==2.31.0
tomli==2.0.1
